.section_2 {
  .container-taxes {
    padding-top: 110px;
    padding-bottom: 80px;

    @include screen-max(md) {
      padding-top: 36px;
      padding-bottom: 61px;
    }

    .title {
      max-width: 850px;
      margin: 0 auto 25px;
    }

    .content {
      max-width: 760px;
      margin: 0 auto;
    }

    .titleList {
      color: #212121;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: normal;
      line-height: 24px;
    }
  }

  &__image-left {
    @include screen-max(md) {
      margin-bottom: 45px;
      max-width: 80%;
    }
  }
}