.section_7 {
  background-image: linear-gradient(180deg, rgba(216, 216, 216, 0.37) 0%, #ffffff 100%);

  .container-taxes-small{
    padding-top: 100px;
    padding-bottom: 80px;

    @include screen-max(md) {
      padding-bottom: 30px;
    }

  }

  &__title{
    text-align: center;
  }

  &__subtitle{
    font-family: "Delivery Regular";
    text-align: center;
    font-size: 24px;
    color: #212121;
  }
  &__left{
    &-title{
      text-align: left;
      line-height: 100%;
      font-size: 24px;
      font-weight: 900;
      color: #212121;
      font-family: "Delivery Black Condensed";
    }

    &-subtext{

    }

    &-item{
      display: flex;
      align-items: flex-start;
      &_text{
        text-align: left;
      }

      &_icon{
        min-width:25px;
        min-height: 25px;
        background: url(../images/green_check.png) no-repeat center;
        color: red;
      }
    }
  }

  &__right{

    @include screen-max(md) {
      margin-top: 60px;
    }

    &-main-wrapper{
      display: flex;
    }
    &-mark{
      /* Style for "Rectangle" */
      width: 25px;
      height: 149px;
      background-color: #d40511;
    }
    &-wrapper{
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      border-left: 5px solid $brand-primary;
    }
    &-title{
      text-align: left;
      line-height: 100%;
      font-size: 24px;
      font-weight: 900;
      color: #212121;
      font-family: "Delivery Black Condensed";

    }
    &-text{
      text-align: left;

      p {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      margin-top: 18px;

      @include screen-max(md) {
        max-width: 80%;
      }
    }

  }
}