
.header{
    
    &--size1{
        font-size: 42px;
        line-height:52px;
        text-transform:uppercase;
        margin-bottom:18px;
    }
    @include media-breakpoint-up(xl){
        font-size: 49px;
        line-height:57px;

    }
    &--size2{
        font-size:32px;
        line-height:40px;
        text-transform:uppercase;
    }
    
    &--size3{
        font-size:24px; // ?
        margin-bottom:18px;
    }
    
    &--size4{
        font-size:18px;
        line-height:26px;
        margin-bottom:18px;
    }
    
    &--light{
        font-family: $regular-font-family;
    }
    
    &--upper{
        text-transform: uppercase;
    }
    
    &--bright{
        color: #fff;
    }
}