.steps_section {
  margin-bottom: 160px;
  @media (max-width: 1640px) {
    margin-bottom: 120px;
  }
  @media (max-width: 1440px) {
    margin-bottom: 160px;
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 0px;
  }
  .steps {
    position: absolute;
    left: 0%;
    top: 80px;
    background: #F9F9F9;
    padding: 60px 70px 20px 140px;
    width: 70%;
    max-width: 1010px;
    @media (max-width: 1640px) {
      max-width: 950px;
      top: 60px;
      padding: 60px 70px 20px 100px;
    }
    @include media-breakpoint-down(lg) {
      max-width: none;
      position: relative;
      width: 100%;
      top: auto;
      left: auto;
      padding: 20px;
      text-align: center;
    }
  }
  .step-item {
    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
    &__number {
      width: 83px;
      flex: 0 0 83px;
      margin-right: 20px;
      display: block;
      @include media-breakpoint-down(lg) {
        margin-right: 0px;
        flex: 0 0 auto;
        margin-bottom: 10px;
      }
      &-text {
        background: $red;
        border-radius: 7px;
        color: $white;
        font-size: 19px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
      }
      &:after {
        display: block;
        margin-top: 12px;
        margin-bottom: 12px;
        height: 44px;
        content: '';
        width: 1px;
        margin-left: 41px;
        border-left: 1px dashed #979797;
        @media (max-width: 1640px) {
          height: 30px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
    &__text {
      margin-top: 5px;
      font-size: 19px;
      @media (max-width: 1640px) {
        margin-top: 7px;
        font-size: 17px;
      }
      @include media-breakpoint-down(lg) {
        display: block;
      }
    }
    &:last-child {
      margin-bottom: 40px;
      .step-item__number {
        &:after {
          display: none;
        }
      }
    }
  }
  .step-img {
    @media (max-width: 1640px) {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}