.article {
	@extend .font__subtitle--0222;
	.cat-name {
		background: $accordion-gray;
		@include radius(5px);
		padding: 14px 21px 15px;
	}
	h1 {
		@extend .font__title--022;
		margin-top: 23px;
		text-transform: uppercase;
		margin-bottom: 45px;
		@include media-breakpoint-down(lg) {
			margin-bottom: 35px;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 25px;
		}
	}
	h2 {
		display: block;
		@extend .mb-3;
		@extend .font__subtitle--011;
		clear: both;
	}
	img {
		@extend .img-fluid;
		@extend .mt-5;
		@extend .mb-5;
		@include media-breakpoint-down(sm) {
			margin-top: 0.5rem!important;
			margin-bottom: 0.5rem!important;
		}
		&.aligncenter {
			display: table;
			margin: 0 auto;
		}
		&.alignleft {
			float: left;
			@extend .mt-3;
			@extend .mr-5;
			@include media-breakpoint-down(lg) {
				float: none;
				display: table;
				margin: 3rem auto 0 !important;
			}
			@include media-breakpoint-down(sm) {
				margin-top: 0.5rem!important;
			}
		}
		&.alignright {
			float: right;
			@extend .mt-0;
			@extend .ml-5;
			@include media-breakpoint-down(lg) {
				float: none;
				display: table;
				margin: 0 auto;
			}
		}
	}
	p {
		margin-bottom: 2rem;
		@include media-breakpoint-down(sm) {
			margin-bottom: 1.5rem;
		}
	}

	ul {
		overflow: hidden;
		padding-left: 20px;
		li {
			list-style: none;
			position: relative;
			@extend .mb-4;
			&::before {
				position: absolute;
				content: "";
				left: -20px;
				top: 13px;
				width: 6px;
				height: 6px;
				background: $red;
			}
		}
	}
	&--page {
		@extend .font__subtitle--00022;
		padding-top: 56px;
		padding-bottom: 75px;
		@include media-breakpoint-down(lg) {
			padding-top: 0px;
			padding-bottom: 25px;
		}

		h2 {
			padding-top: 52px;
			margin-bottom: 35px;
			@include media-breakpoint-down(lg) {
				padding-top: 22px;
			}
		}
		p {
			margin-bottom: 1.8rem;
			@include media-breakpoint-down(sm) {
				margin-bottom: 1.5rem;
			}
			@include media-breakpoint-down(lg) {
				br {
					display: none;
				}
			}
		}
		&--category {
			padding-top: 50px;
			@include media-breakpoint-down(lg) {
				padding-top: 20px;
			}
		}
	}
}