.footer__overlay {
  max-height: 415px;
  height: 415px;
  background-image: linear-gradient(-180deg,rgba(254,254,255,0) 0,#fcfcfd 81%);
  position: fixed;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  display: none;
}
.footer__popup {
  background-image: linear-gradient(-180deg,#fc0 0,#ffd83f 50%,rgba(255,216,63,0.1) 100%);
  border-top: 0;
  bottom: 5rem;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.08);
  position: absolute;
  background-color: #e8e8e8;
  margin: auto;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  color: #323232 !important;
  align-items: flex-start;
  font-weight: normal;
  min-height: 40px;
  transition: bottom ease-in-out 400ms;
  overflow: hidden;
  width: 100%;
  max-width: 585px;
  font-size: 100%;
  padding: 2rem 3rem 3rem 3rem;
  &__close {
    cursor:pointer;
    transition: all 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    &:after, &:before {
      content:"";
      height:20px;
      width:20px;
      border-top:1px solid #d40511;
      position:absolute;
      top:7px;
      right:-8px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:before {
      right:6px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:hover {
      opacity: 0.3;
    }
  }
  &__image {
    img {
      max-width: 80px;
    }
  }
  &__content {
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
    color: #d40511;
    font-size: 31px;
    font-weight: bold;
    p {
      color: #d40511;
      font-size: 31px;
      font-weight: bold;
    }
  }

  &__link {
    margin-top: 10px;
    border: 2px solid #d40511;
    color: #fff;
    background-color: #d40511;
    display: inline-flex;
    align-items: center;
    padding: .5rem 3.8rem;
    font-size: 16px;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    white-space: normal;
    transition: color 200ms,background-color 200ms,border-color 200ms;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: #af040e;
      border: 2px solid #af040e;
      outline: 0;
    }
  }
}