.banner {
  height: 75px;
  min-width: 320px;
  //  min-height:115px;
  border-width: 0;
  border-color: #fff;
  border-style: solid;
  position: relative;
  top: 0;
  bottom: auto;
  left: auto;
  right: auto;
  transform: translateY(0);
  transition: transform 150ms ease-in;
  z-index: 2;
  &__main-bg {
    background: rgba(#fff, 1) url("../images/bg-header.png") repeat-x 0 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    height: 260px;
    border-width: 13px 13px 0 13px;
  }

  &--fixed {
    height: 76px;
    border-width: 0;
    position: fixed;
    top: -76px;
    bottom: auto;
    left: 0;
    right: 0;
    //new nav scroll bg color
    background-color: #fc0;
    transform: translateY(76px);
    //pointer-events:none;
    z-index: $banner-z-index;

    &.banner--hiding {
      transform: translateY(-76px);
      z-index: $banner-z-index - 1;
    }

    .banner__brand {
      margin-top: 0;
      pointer-events: all;
    }

    .doc-body--fs-contact & {
      min-width: 294px; // 320 - (13 * 2)
      height: 80px;
      margin-top: 0;
      border-width: 13px 0 0 0;
      border-color: rgba(#fff, 1);
      border-style: solid;
      top: 0;
      bottom: auto;
      left: 13px;
      right: 13px;
      background-color: rgba($brand-secondary, 0);
      transform: translateY(0);
      z-index: $banner-z-index + 3;
    }
  }

  &__header {
    padding: 12px 0 12px;
    min-height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @include animation(all, 300ms);
    background: #fdcf03;

    &.affixed {
      background: #fdcf03;
    }
    @include media-breakpoint-up(xl) {
      .banner__container {
        max-width: 1267px;
      }
    }
    @include media-breakpoint-down(md) {
      .banner__container {
        margin: 0;
        max-width: 100%;
        position: relative;
      }
    }

    .contact-form__btn-wrapper {
      display: none;
    }

    &.mobile-open {
      background: #fdcf03;

      .mm-nav {
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 15px;
        background: #fdcf03;

        li {
          width: 100%;
          text-align: left;
          border-bottom: 1px solid rgba(212, 5, 17, 0.21);

          a {
            position: relative;

            &:before {
              content: '';
              background: url("../images/arrow.png") no-repeat;
              display: block;
              width: 9px;
              height: 6px;
              transform: rotate(-90deg);
              position: absolute;
              right: 0px;
              top: 50%;
            }

            &:hover {
              border-bottom-color: transparent;
            }
          }
        }
      }
    }
  }

  .mobile-open {
    position: fixed;
    width: 100%;
    height: 100%;
    //background: #ffcc00;
    background: #ffffff;
    background-image: linear-gradient(to top, rgba(242, 207, 39, 0.3) 0%, #f2cf28 73%);
    z-index: 999;

    .contact-form__btn-wrapper {
      position: fixed;
      bottom: 25px;
      width: calc(100% - 30px);
      max-width: calc(100% - 30px);
      display: block;

      button {
        background: #d40511;
        color: white;
      }

    }
  }

  &__bar {
    //position:relative;
    display: flex;
    align-items: center;
    justify-content: right;

    .mm-nav {
      display: flex;
      list-style-type: none;
      margin-bottom: 0;
      text-align: right;
      margin-right: 1em;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      .nav-link {
        padding: 1rem;
        transition: all 0.3 ease-in-out;
        border-bottom: 2px solid transparent;
        font-size: 16px;
        color: #1c1c1c;

        @include media-breakpoint-down(md) {
          padding: {
            left: 0;
            right: 0;
          }
        }

        &:hover {
          border-bottom: 2px solid #d40511;
        }
      }
    }
  }

  &__brand {
    margin-top: 2px;
    display: inline-block;
    transition: margin 300ms ease-in;
    margin-right: auto;
    width: 120px;

    @include media-breakpoint-up(sm) {
      width: auto;
      margin-right: auto;
    }
    @include media-breakpoint-up(md) {
      //margin-top:14px;
    }

    .doc-body--fs-form & {
      margin-top: 0;
    }
  }

  &__brand-image {
    &--xs {
      display: inline-block;
      width: 100%;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &--md-up {
      display: none;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }
    }

  }

  &__close-form {
    width: 62px;
    min-width: 0;
    padding: 8px;
    background-color: $dark-gray;
    position: absolute;
    top: -10px;
    bottom: auto;
    left: auto;
    right: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
    z-index: -100;
    color: #fff;
    font-family: $regular-font-family;
    font-size: .8125rem;
    line-height: 1rem;
    pointer-events: all;

    @include hover-focus {
      color: #ddd;
    }

    @include media-breakpoint-up(sm) {
      padding: 14px;
    }

    @include media-breakpoint-up(md) {
      min-width: 184px;
    }

    .doc-body--fs-form & {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }

  &__close-form-text {
    display: none;

    @include media-breakpoint-up(md) {
      display: inline;
    }
  }

  &__close-form-times {
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      vertical-align: sub;
    }
  }

  &__language-switch {
    display: none;
    padding: 0;
    float: right;
    list-style: none;
    transition: margin 200ms ease-in;
    pointer-events: all;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100px;
    margin: 0 19px 0 0;

    //overflow: hidden;

    &.active {
      display: block;
    }

    .banner--fixed & {
      margin-top: 20px;
      margin-right: 14vw;

      @media screen and (min-width: 480px) {
        margin-top: -6px;
        margin-right: 0px;
      }

      @include media-breakpoint-up(md) {
        margin-right: 0px;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 0px;
      }
    }

    .doc-body--fs-form & {
      display: none;
    }

    .doc-body--transitioning & {
      opacity: .3;
    }

    li {
      padding: 0;
      display: inline-block;
      font-size: .75rem;
      line-height: 1;
    }

    a {
      color: #323232;
      position: relative;
      z-index: 9999;

      @include hover-focus {
        color: #111;
      }

      span {
        display: none;
        .banner--fixed & {
          display: none;
        }
      }
    }
  }

}
@include media-breakpoint-down(md) {
  .dropdown-menu{
    &.show {
      transform: translate3d(0, 0, 0) !important;
      position: relative !important;
      width: 100% !important;
      background: none !important;
    }
  }
}
.langs {
  position: relative;
  height: auto;
  z-index: 9999;

  .active-lang {
    padding-right: 5px;
    border-right: 1px solid white;
    display: inline-block;

    img {
      box-shadow: 0 4px 5px rgba(100, 103, 107, 0.36);
    }
  }

  .lang-arrow {
    display: inline-block;
    width: 9px;
    height: 6px;

    &:hover {
      cursor: pointer;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: url("../images/arrow.png") no-repeat;
    }

    &.active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    order: 1;
    flex: 0 0 37px;
    margin-top: -5px;
    margin-left: 1em;

    .active-lang {
      border-right: 0;
      line-height: 1;

    }

    .banner__language-switch {
      margin-right: 34px;
    }
  }
}

.banner--fixed {
  .banner__language-switch {
    margin: 0 19px 0 0;
  }

  .banner__header {
    padding: 0;
    height: 100%;
  }

  .banner__container {
    height: 100%;

    .banner__bar {
      height: 100%;
      align-items: center;
      @include media-breakpoint-down(md) {
        align-items: start;
        padding-top: 25px;

        .langs {
          margin-right: 0px;
        }
      }
    }
  }

  .langs {
    margin-right: 210px;
  }
}

.hamburger {
  width: 26px;
  height: 20px;
  display: none;
  margin-right: 15px;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("../images/hamburger.png") no-repeat;
    display: block;
  }

  @include media-breakpoint-down(lg) {
    display: block;
    order: 5;
    //margin-left: 1em;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
  }
}

.dropdown-menu {
  background-image: linear-gradient(to top, rgba(242, 207, 39, 0.3) 0%, #f2cf28 73%);
  border: none;

  .dropdown-item {
    border-bottom: 1px solid rgba(212, 5, 17, 0.17);
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    padding-left: 0;
    font-size: 14px;

    span {
      font-size: 14px;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background: transparent;
    }
  }
}

.banner__bar .btn-primary {
  padding: 15px 14px;
  text-transform: none;
}