.cookie-consent{
  position:fixed;
    top:auto; bottom:0;
    left:0; right:0;
  background-color:#938e7c;
  opacity:1;
  transition:opacity 600ms ease-in, z-index 100ms linear 400ms;
  color:#fff;
  font-size:.75rem;
  z-index:999;

  &--accepted{
    opacity:0;
    z-index:-999;
  }

  &__col{
    padding-top:8px;
    padding-bottom:4px;
  }

  .close{
    margin-right:-10px;
    padding:0 10px 10px;
    cursor:pointer;
  }

  a{
    color:#fff;
    text-decoration:underline;

    @include hover-focus{
      color:#fff;
      text-decoration:none;
    }
  }
}
