.employment-offers{
  margin-bottom: 30px;

  &__row{
    margin-bottom:40px;
  }

  &__content{
    // padding-bottom:80px;

    @include media-breakpoint-up(md){
      // margin-bottom:4.6875vw;
      // padding-bottom:3.125vw;
      font-size:1.9375rem;
    }

    // @media screen and (min-width:1920px){
    //   margin-bottom:90px;
    //   padding-bottom:60px;
    // }
  }

  &__title{
    margin-top:24px;
    margin-bottom:24px;
    color:theme-color(primary);
    font-size:1.9375rem;
    text-transform:uppercase;

    @include media-breakpoint-up(md){
      margin-top:0;
      font-size:1.5rem;
    }

    @include media-breakpoint-up(lg){
      margin-top:3.375vw;
      font-size:40px;
    }

    @media screen and (min-width:1920px){
      margin-top:84px;
    }
  }

  &__info{
    margin-bottom:52px;
    color:#666;
    font-size:1.125rem;

    @include media-breakpoint-up(md){
      margin-bottom:40px;
      font-size:rem;
    }

    @include media-breakpoint-up(lg){
      margin-bottom:52px;
      font-size:1.125rem;
    }
  }

  &__media-container{
    .employment-offers--terminals &,
    .employment-offers--managers &{
      // @include media-breakpoint-up(md){
      //   margin-left:-12vw;
      // }
    }

    .employment-offers--specialists &{
      // @include media-breakpoint-up(md){
      //   margin-right:-12vw;
      // }
    }

    &--video-wrapper{
      padding-top:24px;
        
      @include media-breakpoint-up(md){
        padding-top:0;
      }

      @include media-breakpoint-up(lg){
        padding-top:3.375vw;
      }

      @media screen and (min-width:1920px){
        padding-top:84px;
      }
    
      position: relative;
      height: 100%;
    }
    
    &--video{
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
      top: 50%;
      transform: translateY(-50%);
      

    }

    .video-fluid{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      // width="560" height="315" 
            
      @include media-breakpoint-up(lg){
          /*top: 84px;*/
      }
    }

  }

}

.positions-offers{

  &__title{
    max-width:100px;
    margin-bottom:10px;
    padding:8px 16px;
    border-radius:4px;
    background-color:#fff7d9;
    color:theme-color(primary);
    font-size:.625rem;
    line-height:1;
    text-align:center;
    text-transform:uppercase;
  }

  &__info{
    margin:2rem 0;
    color: #666;
    font-size:1rem;
  }

  &__list{
    margin:0 0 46px 0;
    padding:0;
    list-style:none;
  }

  &__link{
    padding:4px 0;
    border-bottom:1px solid #e8e8e8;
    display:inline-block;
    color:#333;
    font-size:1.25rem;

    @include hover-focus{
      color:theme-color(primary);
      text-decoration:none;
    }
  }
}
