.pagination {
	margin-top: 40px;
	margin-bottom: 100px;
	.page-item {
		margin: 0 5px;
		&:first-child,
		&:nth-last-child(3),
		&:last-child {
			.page-link {
				border-color: transparent;
			}
		}
		&:nth-last-child(3) {
			margin: 0;
		}
		.page-link {
			@include radius(3px);
			color: $defaultFontColor;
			&.active {
				color: $red;
				border-color: $red;
			}
			&:hover {
				background: transparent;
				border-color: $red;
			}
		}
		.page-image {
			margin-top: -3px;
		}
	}
}