@font-face{
  font-family:"Frutiger Neue LT W06 Regular";
  src:url("../fonts/faa5752a-e8aa-4792-b76e-06fdea92421d.eot?#iefix");
  src:url("../fonts/faa5752a-e8aa-4792-b76e-06fdea92421d.eot?#iefix") format("eot"),url("../fonts/443d53e8-5a36-44d4-a132-02501f29ccb4.woff2") format("woff2"),url("../fonts/e934c7fe-0eba-45c0-be91-b05ff19b5073.woff") format("woff"),url("../fonts/a4b36fb8-d470-4a09-87d7-70de08efeeaf.ttf") format("truetype"),url("../fonts/d02b10aa-8aa6-465e-b1ec-e3b7d90a01f4.svg#d02b10aa-8aa6-465e-b1ec-e3b7d90a01f4") format("svg");
}
@font-face{
  font-family:"Frutiger Neue LT W06 Bold";
  src:url("../fonts/5656fd28-0c8a-45fd-bd99-f3d798e777c5.eot?#iefix");
  src:url("../fonts/5656fd28-0c8a-45fd-bd99-f3d798e777c5.eot?#iefix") format("eot"),url("../fonts/d13f4ce3-6d5f-4e11-b7a6-9cde6f1624a0.woff2") format("woff2"),url("../fonts/9147fb15-b4da-4721-8ed8-d82293660aec.woff") format("woff"),url("../fonts/82654d6a-ec17-4dcc-be94-5092663b0bd2.ttf") format("truetype"),url("../fonts/2f96c1cb-f1c3-433f-aa09-21e3d556d1f6.svg#2f96c1cb-f1c3-433f-aa09-21e3d556d1f6") format("svg");
}
@font-face{
  font-family:"Frutiger Neue LT W06 Co1366748";
  src:url("../fonts/7280e650-6082-47c6-b466-444dc54cb2d1.eot?#iefix");
  src:url("../fonts/7280e650-6082-47c6-b466-444dc54cb2d1.eot?#iefix") format("eot"),url("../fonts/23c8fd07-fd70-4f71-8660-ee48fd5cdd78.woff2") format("woff2"),url("../fonts/758b3adb-babc-432f-8224-6d5987a29d87.woff") format("woff"),url("../fonts/a0db12d8-1ce6-447c-88db-a84df4843728.ttf") format("truetype"),url("../fonts/85839fbf-2469-47f4-9297-e8ddadbb047f.svg#85839fbf-2469-47f4-9297-e8ddadbb047f") format("svg");
}
@font-face{
  font-family:"Frutiger Neue LT W06 Co1366734";
  src:url("../fonts/d91eade1-6945-4479-9a16-8066103e98f6.eot?#iefix");
  src:url("../fonts/d91eade1-6945-4479-9a16-8066103e98f6.eot?#iefix") format("eot"),url("../fonts/2bcc8112-8888-4cab-a815-828849b896c0.woff2") format("woff2"),url("../fonts/5b7e29c2-705a-4651-968e-212a5d6824d3.woff") format("woff"),url("../fonts/d270ca1f-1440-40a6-9c25-bfa149ce0ca1.ttf") format("truetype"),url("../fonts/46eb06c5-63b6-4b5d-9906-26549829e42f.svg#46eb06c5-63b6-4b5d-9906-26549829e42f") format("svg");
}
