.mm-main-footer{
    text-align:center;
    padding-top:16px;
    padding-bottom:16px;
    
    background: $brand-secondary;

    &__info{
        p{
            border-top: 1px solid rgba(0,0,0,0.1);
            color:#666;
            padding:19px 30px 42px 30px;
            font-size:12px;
        }
    }
    &__container{
        clear:both;
    }

    p{
        font-size:13px;
        padding-top: 14px;
        padding-bottom: 10px;
        line-height: 18px;
        margin:0;
    }
    // footer nav
    .mm-nav{
        padding-left:0;
        
        &__item{
            position:relative;
            font-size:13px;
            margin-right:10px;
            margin-left:10px;
            a{
                padding-top:13px;
                padding-bottom:11px;
                line-height: 18px;
            }
            &:after{
                content: '';
                display:block;
                width:1px;
                height: 13px;
                position:absolute;
                background:$brand-primary;
                right:-10px;
                top:17px;
            }
            
            &:last-child{
                &:after{
                    display:none;
                }
            }

        }
    }
    
    @include media-breakpoint-up(lg) {
        text-align:inherit;   
        
        .mm-nav{
            float:right;
            
            &__item{
                
                &:last-child{
                    margin-right:0;
                    a{
                        padding-right:0;
                    }
                }
            }
        }
    }
    
    // subfooter nav
    &--subfooter{
        background: #252525;
        
        .mm-nav{
    
            &__item{
                
                a{
                    color: #fff;
                    font-size:16px;
                    &:hover{
                        text-decoration: none;
                    }
                }
                
                &:after{
                    display:none;
                }
                
                &.current-menu-item{
                    a{
                        color: $brand-secondary;
                    }
                }
                
                &--icon a{
                    width:44px;
                    height:44px;
                    background: #fff;
                    border-radius:100%;
                    text-indent:-9999px;
                    overflow:hidden;
                }
                
                &--fb a{
                    background: #fff url('../images/socials-fb.png') center center no-repeat;
                }
                
                &--li a{
                    background: #fff url('../images/socials-linkedin.png') center center no-repeat;
                }
            }
        
            @include media-breakpoint-up(lg) {

                float:left;

                +.mm-nav{
                    float:right;
                }
                
                &__item{
                    &:first-child{
                        margin-left:0;
                        a{
                            padding-left:0;
                        }
                    }

                    &:last-child{
                        margin-right:0;
                    }
                }
            }
        }
        
    }
}


.mm-nav{
    
    overflow: hidden;
    margin-bottom: 0;
    
    &__item{
        list-style:none;
        display:inline-block;
        a{
            display:block;
            padding:12px;
        }
        
        @include media-breakpoint-up(lg) {
            
            display:block;
            float:left;
        }
    }
}
