/* Tags widget */

.widget_tag_cloud{
    margin-bottom: 78px;
}

.tag-cloud-link{
    display:inline-block;
    font-size:13px !important;
    color: #000;
    background: $brand-secondary;
    height:30px;

    margin: 0 7px 16px 7px;
    padding: 4px 15px 5px 20px;
    font-family: $bold-font-family;
    border-radius:18px;

    &:hover, &:focus, &:active{
        color: inherit;
        text-decoration:none;
    }
    
    &--active {
        background: $brand-primary;
        color: $brand-secondary;
    }
}
