.city {
  box-shadow: 0 3px 0 rgba(208, 208, 208, 0.68);
  border-radius: 9px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  &__top {
    &__left {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    &__right {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  &__title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 900;
  }
  &__link {
    cursor: pointer;
    line-height: normal;
    img {
      margin-left: 5px;
      margin-top: -3px;
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
    &.active {
      img {
        transform: rotate(0deg);
      }
    }
  }
  &__bottom {
    display: none;
    &__container {
      border-top: 1px solid #d5d4d3;
      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
      }
    }
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 5px;
      color: $defaultFontColor;
    }
    &__col {
      width: max-content;
      @include media-breakpoint-down(lg) {
        width: 100%;
        margin-bottom: 20px;
        text-align: center !important;
      }
    }
  }
}
.country {
  &__bottom {
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 5px;
      color: $defaultFontColor;
      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
    }
  }
}