.youtube-titles-container {
  padding-top: 80px;
  padding-bottom: 70px;
  @include media-breakpoint-down(md){
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 46px;
  }

  &__desc {
    margin-bottom: 43px;
  }
}

.youtube-main {
  .video {
    position: relative;

    &-wrapper {
      .ytVideo {
        height: 769px;
        @include media-breakpoint-up(lg) {
          object-fit: cover;
        }
        @media (min-width: 992px) and (max-width: 1400px) {
          height: 500px;
        }
        @include media-breakpoint-down(md) {
          height: 463px;
        }
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 2;
      background-color: rgba($blue, 0.15);
      opacity: 1;
      transition: all 0.4s ease;
      background-size: cover;
      background-position: top center;

      &--hidden {
        opacity: 0;
        z-index: -10;
      }

      .play-btn {
        width: 104px;
        height: 104px;
        background-size: cover;
        background-position: center;

        &:hover {
          cursor: pointer;
        }

        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          width: 258px;
          height: 258px;
          background-color: #ffcc00;
          opacity: 0.3;
          border-radius: 50%;
          animation: pulseAnimate2 2.5s linear infinite;
          animation-duration: 2.5s;
        }

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 380px;
          height: 380px;
          background-color: #ffcc00;
          opacity: 0.15;
          animation: pulseAnimate1 2.5s linear infinite;
        }

        @keyframes pulseAnimate1 {
          0% {
            transform: translate(-50%, -50%) scale(0.4);
            opacity: 0;
          }
          50% {
            transform: translate(-50%, -50%) scale(0.7);
            opacity: 0.15;
          }
          100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
          }
        }
        @keyframes pulseAnimate2 {
          0% {
            transform: translate(-50%, -50%) scale(0.4);
            opacity: 0;
          }
          50% {
            transform: translate(-50%, -50%) scale(0.7);
            opacity: 0.3;
          }
          100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
          }
        }

      }
    }
  }
}