.shipment-options{
  padding-top:92px;
  padding-bottom:106px;

  @include media-breakpoint-up(md){
    padding-top:106px;
  }

  &__header{
    margin-top:0;
    margin-bottom:30px;
    color:$dark-gray;
    font-size:2.5rem;
    text-align:center;
    text-transform:uppercase;

    @include media-breakpoint-up(md){
      font-size:2.875rem;
      margin-bottom:48px;
    }

    @include media-breakpoint-up(lg){
      font-size:3.0625rem;
      margin-bottom:64px;
    }
  }

  &__list,
  &__advantages{
    margin-top:0;
    margin-bottom:0;
    padding:0;
    list-style:none;
  }

  &__item{
    margin-bottom:32px;

    &:last-child{
      margin-bottom:0;
    }
  }

  &__wrapper{

  }

  &__option-wrapper{
    padding:42px 38px;
    background-color:#f2f2f2;

    @include media-breakpoint-up(md){
      padding:30px 20px;
    }

    @include media-breakpoint-up(lg){
      padding:42px 38px;
    }
  }

  &__option-header{
    margin-top:0;
    margin-bottom:182px;
    position:relative;
    color:#333;
    font-family:$regular-font-family;
    font-size:1.5rem;
    text-align:center;

    &:before{
      width:120px;
      height:120px;
      border-radius:66px;
      display:block;
      position:absolute;
        top:auto; bottom:-144px;
        left:50%; right:auto;
      background-color:#fff;
      background-repeat:no-repeat;
      background-image:url("../images/icons-shipment.png");
      transform:translateX(-50%);
      content:"";
    }

    &--walk:before{
      background-position:0 0;
    }

    &--click:before{
      background-position:-120px 0;
    }

    &--call:before{
      background-position:-240px 0;
    }

    @include media-breakpoint-up(md){
      margin-bottom:152px;
    }

    @include media-breakpoint-up(lg){
      margin-bottom:182px;
    }
  }

  &__advantages{
    margin-bottom:42px;

    @include media-breakpoint-up(md){
      margin-bottom:24px;
    }

    @include media-breakpoint-up(lg){
      margin-bottom:32px;
    }

    @include media-breakpoint-up(xl){
      margin-bottom:42px;
    }
  }

  &__advantage{
    padding:14px 0;
    border-bottom:1px solid #d8e1e8;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#666;
    text-align:center;

    &:last-child{
      border-bottom:0 none;
    }

    @include media-breakpoint-up(md){
      min-height:54px;
      padding-top:8px;
      padding-bottom:8px;
      font-size:.8125rem;
    }

    @include media-breakpoint-up(lg){
      min-height:63px;
      padding-top:10px;
      padding-bottom:10px;
      font-size:.875rem;
    }

    @include media-breakpoint-up(xl){
      min-height:auto;
      padding-top:14px;
      padding-bottom:14px;
      font-size:1rem;
    }
  }

  &__advantage-inner{
    vertical-align:middle;
  }

  &__btn-wrapper{
    margin-bottom:0;
    text-align:center;
  }

}
